<section class="m-5">
    <section class="hero my-5">
        <h1 class="title">Angular PWA Tic Tac Toe</h1>
        <h2 class="subtitle"> Current Player: {{ player }}</h2>

        <h2 class="subtitle" *ngIf="winner">
            Player {{ winner }} won the game!
        </h2>
        <button *ngIf="winner" class="button is-success is-fullwidth" (click)="newGame()">New Game</button>
    </section>


    <main>
        <app-square *ngFor="let val of squares; let i = index" [value]="val" (click)="makeMove(i)"></app-square>
    </main>

</section>